html {
    box-sizing: border-box;
    /* makes it so there isn't a scroll bar */
}

body {
    color:aqua;
    margin:0;
    min-height: 100vh;
    /* viewport height- full height of the entire window */
}

